In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('./paths_no_back_links.tsv', sep='\t')
df.head()

,hashedIpAddress,timestamp,durationInSec,path,rating
0,6a3701d319fc3754,1297740409,166,14th_century;15th_century;16th_century;Pacific...,NaN
1,3824310e536af032,1344753412,88,14th_century;Europe;Africa;Atlantic_slave_trad...,3.0
2,415612e93584d30e,1349298640,138,14th_century;Niger;Nigeria;British_Empire;Slav...,NaN
3,64dd5cd342e3780c,1265613925,37,14th_century;Renaissance;Ancient_Greece;Greece,NaN
4,015245d773376aab,1366730828,175,14th_century;Italy;Roman_Catholic_Church;HIV;R...,3.0

In [5]:
collection = []
for row in df['path']:
    steps = row.split(';')
    src = steps[0]
    trg = steps[-1]
    collection.append(f'{src.lower()};{trg.lower()}')

print(len(collection))
print(len(set(collection)))
print()

train, val = train_test_split(list(set(collection)), random_state=104, test_size=0.2, shuffle=True)
val, test = train_test_split(val, random_state=104, test_size=0.5, shuffle=True)

print(len(train))
open('./train.txt', 'w').write('\n'.join(train))
print(len(val))
open('./val.txt', 'w').write('\n'.join(val))
print(len(test))
open('./test.txt', 'w').write('\n'.join(test))

ttv = []
for row in df['path']:
    steps = row.split(';')
    src = steps[0]
    trg = steps[-1]
    if f'{src.lower()};{trg.lower()}' in train:
        ttv.append(0)
    elif f'{src.lower()};{trg.lower()}' in val:
        ttv.append(2)
    elif f'{src.lower()};{trg.lower()}' in test:
        ttv.append(1)

df['ttv'] = ttv
df.to_csv('./paths_finished_ttv.tsv', sep='\t')

51318
28718

22974
2872
2872